.each-message-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;

  .chat-me {
    display: flex;
    margin-left: auto;
    align-items: center;
    background-color: rgba(0, 140, 253);
    color: white;
    margin-right: 20px;
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

    .chat-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      max-width: 450px;
      height: auto;
      border-radius: 10px;
      word-wrap: break-word;
    }
  }

  .chat-them {
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    width: auto;
    padding: 5px 10px 2px 5px;
    margin-bottom: 10px;

    .chat-photo {
      display: flex;
      height: 100%;
      margin-top: auto;

      img {
        max-height: 40px;
        max-width: 40px;
        border-radius: 50px;
        margin-right: 10px;
        background-color: transparent;
      }
    }

    .chat-message {
      background-color: rgb(229, 229, 234);
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      max-width: 450px;
      height: auto;
      border-radius: 10px;
      word-wrap: break-word;



      .message-text {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        span {
          text-align: left;
        }
      }
    }
  }
}

.sender-name {
  color: grey;
  margin-bottom: 5px;
  margin-left: 1px;
  font-size: 15px;
}
