.chat-message-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  align-items: center;

  .chat-me {
    display: flex;
    margin-left: auto;
    align-items: center;
    background-color: rgba(13, 113, 239);
    color: white;
    margin-right: 20px;
    border-radius: 10px;
    width: auto;
    padding: 10px;

    .chat-photo {

    }
  }

  .chat-them {
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    width: auto;
    padding: 5px 10px 2px 5px;

    .chat-photo {
      display: flex;
      img {
        max-height: 40px;
        max-width: 40px;
        border-radius: 50px;
        margin-right: 10px;
        background-color: transparent;
      }
    }

    .chat-message {
      background-color: rgb(106, 90, 205);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      align-self: center;
      align-content: center;

      span {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }


}
