.app-header {
  display: flex;
  width: 100%;
  background-color: red;

  .header-name {
    width: 20%;
  }

  .online-now-container {
    width: 60%;

    .online-now-users {
      display: flex;
    }
  }

  .buttons {
    width: 20%;
  }
}
