.app-header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgb(225, 223, 220);

  .header-name {
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;

    h2 {
      margin-left: 20px;
    }
  }

  .online-now-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      text-align: center;
    }

    .online-now-users {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;

    button {
      width: 100px;
      height: 50px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 5px;
      margin-right: 10px;

    }
  }
}
