.middle-chat-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  border: 1px solid red;

  .chat-message-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
  }
}
