.middle-chat-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100%;
  align-items: center;

  .chat-container {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .chat-banner {
      display: flex;
      align-items: center;
      height: 10%;
      background-color: rgba(67, 67, 153, 1);
      margin-bottom: auto;


      span {
        color: white;
        margin-left: 10px;
      }
    }
  }

  .chat-message-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 7%;
  }
}

@media only screen and (max-width: 750px) {

  .middle-chat-container {
    width: 100%;
    .chat-message-container {
      height: 5%;
    }
  }
}


@media only screen and (max-width: 480px) {
  .middle-chat-container {
    width: 100%;
    .chat-message-container {
      height: 10%;
    }
  }
}
