.left-side-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;

  .left-side-banner {
    height: 10%;
  }
  .chat-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    align-items: center;
  }


  .online-and-friends {
    display: flex;
    width: 100%;
    height: 30%;
    margin-top: 30px;


    .online-status, .friends-list {
      display: flex;
      flex-direction: column;
      width: 50%;

      h1 {
        text-align: center;
        border-bottom: 5px solid black;
      }
    }

  }

  .left-side-buttons {
    display: flex;
    margin-top: auto;
    width: 100%;
    button {
      margin-right: auto;
    }
  }

}
