.auth-screen-container {
  background-image: linear-gradient(to bottom right, rgba(161, 228, 230, 0.5), rgba(94, 110, 191, 0.9));
  height: 100vh;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: center;
}
