.auth-form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 400px;
  height: 500px;
  justify-content: center;
  background-color: rgba(40, 38, 52);
  border-radius: 3px;
  color: white;
  font-weight: bold;

  .input-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    color: white;

      input {
        margin-top: 5px;
        background-color: grey;
        height: 25px;
        width: 50%;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 3px;
      }
  }

  .login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    .form-button {
      button {
        width: 100px;
        height: 25px;
        cursor: pointer;
        margin: 3px;
        border: none;
        border-radius: 3px;
      }
    }
  }

  .form-button-register {
    display: flex;
    justify-content: center;
    margin-top: 20px;
      button {
        width: 100px;
        height: 25px;
        cursor: pointer;
        margin: 3px;
      }
  }

  h2 {
    text-align: center;
    margin-bottom: 5px;
  }

  h4 {
    cursor: pointer;
    text-align: center
  }

}


@media only screen and (max-width: 440px) {

  .auth-form-container {
    margin-left: 3%;
    margin-right: 3%;

    .input-section {
      input {
        width: 80%;
      }
    }

  }

}
